$AjaxHelper.GetJavascriptFunctions()

<script type="text/javascript">
function deleteEstimate(theCell, estimateId) 
{
    if (confirmAction('delete this estimate'))
    {
	    var r=new Ajax.Request('deleteEstimate.rails',{parameters: 'estimateId=' + estimateId});
	    if( document.createElement && document.childNodes ) 
	    {
		    var thisRow = theCell.parentNode.parentNode;
		    thisRow.parentNode.removeChild(thisRow);
	    }
	}
}
</script> 
<tr>
  <td class="labelabove">
    Estimates:
  </td>
</tr>
<tr>
  <td colspan="4" class="controlbelow" style="width:150px; padding:0px 0px 0px 0px">
      #blockcomponent(GridComponent with "source=$entity.Estimates") 
        #tablestart
          <table id="tests" class="list" style="width:175px;">
        #end
        #header
            <tr class="header">
              <td style="width:125px;">Date</td>
              <td>Estimate</td>
              #if ($userIsAdmin)<td>&nbsp;</td>#end
            </tr>
        #end  
        #cells
          <td style="width:125px; white-space:nowrap;">
            $!estimate.Date.ToString('ddd MM/dd/yy').Replace(" ", "&nbsp;")
          </td>
          <td style="width:50px">
		    $!estimate.HoursRemaining.ToString("n0") hours
          </td>
          #if ($userIsAdmin)
            <td>
              $AjaxHelper.LinkToFunction("Delete", "deleteEstimate(this, '$estimate.Id')")
            </td>
          #end
        #end
        #empty
            <tr><td class="nodata_message" colspan="3">- no estimates for this task -</td></tr>
        #end
      #end
  </td>
</tr>