#blockcomponent(GridComponent with "source=$tasks") 
    #tablestart
      <table class="list">
    #end
    #header
      <tr>
        <td colspan="9" class="presets">
          <a href="list.rails?preset=all">All $entityNamePlural</a>&nbsp;&nbsp;|&nbsp;
          <a href="list.rails?preset=my">My $entityNamePlural</a>&nbsp;&nbsp;|&nbsp;
          <a href="list.rails?preset=mystarted">My Started $entityNamePlural</a>&nbsp;&nbsp;|&nbsp;
          <a href="list.rails?preset=mynotstarted">My Not Started $entityNamePlural</a>
        </td>
        <td class="presets" style="text-align:right">
          <input class="actionButton" type="button" value="Update" onClick="return search();" />
        </td>
      </tr>
      <tr class="filter">
        <td>$FormHelper.TextField("criteria.Number", "%{style='width:30px' onkeypress='return enterKeySubmitAction(\'search\', event);'}")</td>
        <td>$FormHelper.TextField("criteria.Term", "%{style='width:98%' onkeypress='return enterKeySubmitAction(\'search\', event);'}")</td>
        <td>
          $FormHelper.Select("criteria.OwnerIds", $criteria.OwnerIds, $owners, "%{id='ownersFilter', value='Id', text='AlphaNameShort', multiple='true', size='5'}")<br/>
          $AjaxHelper.LinkToFunction("Clear", "return clearMultiSelect('ownersFilter')")
        </td>
        <td>
          #component(CheckboxList with "target=criteria.Statuses" "source=$statuses")
        </td>
        <td>
          $FormHelper.Select("criteria.IterationIds", $criteria.IterationIds, $iterations, "%{id='iterationsFilter', value='Id', text='Name', multiple='true', size='5'}")<br/>
          $AjaxHelper.LinkToFunction("Clear", "return clearMultiSelect('iterationsFilter')")
        </td>
        <td>
          #component(CheckboxList with "target=criteria.TechRisks" "source=$techRisks")
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="header">
        <td><a href="javascript:SortLink('Number');">#</a></td>
        <td><a href="javascript:SortLink('Title');">Title</a></td>
        <td><a href="javascript:SortLink('Owner');">Owner</a></td>
        <td><a href="javascript:SortLink('Status');">Status</a></td>
        <td><a href="javascript:SortLink('Iteration');">Iteration</a></td>
        <td align="center"><a href="javascript:SortLink('TechnicalRisk');">Tech Risk</a></td>
        <td align="center"><a href="javascript:SortLink('StoriesCount');">Stories</a></td>
        <td align="right"><a href="javascript:SortLink('InitialEstimateHours');">Intitial Est</a></td>
        <td align="right"><a href="javascript:SortLink('LatestEstimateHours');">Remaining</a></td>
        <td align="center"><a href="javascript:SortLink('LatestEstimateDate');">Est Updated</a></td>
      </tr>  
    #end
    #rowstart
      <tr class="oddrow">
    #end
    #alternateRowstart
      <tr class="evenrow">
    #end   
    #cells
      <td>$item.Number.ToString("0000")</td>
      <td><a href="edit.rails?id=$item.Id">$item.Title</a></td>
      <td>$!item.Owner.FullName</td>
      <td>$!item.Status</td>
      <td>$!item.Iteration.Name</td>
      <td align="center">$!item.TechnicalRisk</td>
      <td align="center">$!item.StoriesCount</td>
      <td align="right">$!item.InitialEstimateHours.ToString("n0")</td>
      <td align="right">$!item.LatestEstimateHours.ToString("n0")</td>
      <td align="center">$!item.LatestEstimateDate.ToString("MM/dd/yy")</td>
    #end
    #footer
      <tr class="summary">
        <td colspan="7" style="font-weight:bold">Totals</td>
        <td align="right">$!totalInitialEstimate.ToString("n0")</td>
        <td align="right">$!totalLatestEstimate.ToString("n0")</td>
        <td>&nbsp;</td>
      </tr>
    #end
    #empty
      <tr><td class="nodata_message" colspan="10">- no matching $entityNamePlural -</td></tr>
    #end
#end

    