<tr>
  <td class="label">First Name:</td>
  <td>$FormHelper.TextField("entity.FirstName", "%{onchange='markDirty()'}")</td>
  <td class="label">Rows Per Page:&nbsp;<span class="tip">(1)</span></td>
  <td>$FormHelper.TextField("entity.UserPreferences.RowsPerPage", "%{onchange='markDirty()'}")</td>
</tr>
<tr>
  <td class="label">Last Name:</td>
  <td>$FormHelper.TextField("entity.LastName", "%{onchange='markDirty()'}")</td>
  <td class="label"></td>
  <td></td>
</tr>
<tr>
  <td class="label">Username:</td>
  <td>$FormHelper.TextField("entity.Username", "%{onchange='markDirty()'}")</td>
  <td class="label"></td>
  <td></td>
</tr>
<tr>
  <td class="label">Password:</td>
  <td>$FormHelper.PasswordField("entity.Password", "%{onchange='markDirty()'}")</td>
  <td class="label"></td>
  <td></td>
</tr>
<tr>
  <td class="label">Confirm Password:</td>
  <td>$FormHelper.PasswordField("passwordConfirm", "%{onchange='markDirty()'}")</td>
  <td class="label"></td>
  <td></td>
</tr>
#if($userIsAdmin)
    <tr>
      <td class="label">Admin:</td>
      <td>$FormHelper.CheckboxField("entity.IsAdmin", "%{onchange='markDirty()'}")</td>
      <td class="label"></td>
      <td></td>
    </tr>
    <tr>
      <td class="label">View Only:</td>
      <td>$FormHelper.CheckboxField("entity.CanViewOnly", "%{onchange='markDirty()'}")</td>
      <td class="label"></td>
      <td></td>
    </tr>
#end
<tr>
  <td colspan="4">
    <span class="tip">(1) Enter the number of rows per page to show in the main grids.  Enter '0' for no pagination</span>
  </td>
</tr>
