#blockcomponent(GridComponent with "source=$persons") 
    #tablestart
      <table class="list">
    #end
    #header
      <tr class="header">
        <td><a href="javascript:SortLink('Name');">Name</a></td>
      </tr>
    #end
    #rowstart
      <tr class="oddrow">
    #end
    #alternateRowstart
      <tr class="evenrow">
    #end   
    #cells
      <td><a href="edit.rails?id=$item.Id">$item.FullName</a></td>
    #end
    #empty
      <tr><td class="nodata_message" colspan="1">- no $entityNamePlural -</td></tr>
    #end
#end

