<tr>
  <td class="labelabove" colspan="4">Burndown:</td>
</tr>
<tr>
  <td colspan="4">
  #blockcomponent(GridComponent with "source=$burndown") 
    #tablestart
      <table class="burndown">
    #end 
    #cells
      <td>$!item.Date.ToString("MM/dd/yy (ddd)")</td>
      <td colspan="2">$!item.GetBar(150, $maxHours)&nbsp;$!item.HoursRemaining hours</td>
    #end
    #empty
      <tr><td class="nodata_message" colspan="4">no burndown yet for this $entityName</td></tr>
    #end
  #end
  </td>
</tr>

