<tr>
  <td colspan="4">
    #blockcomponent(ChartComponent with "source=$burndown" "width=600" "cssClass=horizontalGraph" "labelFormat=MM/dd/yy (ddd)")
      #title
        <div class='title'>Burndown For $entityName: $entity.Name</div>
      #end
      #empty
        <tr><td class='empty_message'>no burndown yet for this $entityName</td></tr>
      #end
    #end
  </td>
</tr>

