<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN">
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">-->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>StoryVerse</title>
    <link rel="stylesheet" type="text/css" href="../Style/style.css" />
  </head>
  <body onLoad="handleFormLoad();" onBeforeUnload="return confirmUnloadIfDirty();">
  <div class="app_title">StoryVerse</div> 
  
  <script language="javascript" src="../Scripts/scripts.js"></script>
  $AjaxHelper.GetJavascriptFunctions()
