<div class="section_title">
  $entityNamePlural 
  #if($userCanEdit)&nbsp;&nbsp;<a href="new.rails">New</a>#end
</div>

<form name="list" action="list.rails" method="post">
  $FormHelper.HiddenField("sortExpression")
  $childContent
</form>
