#blockcomponent(GridComponent with "source=$companies") 
    #tablestart
      <table class="list">
    #end
    #header
      <tr class="header">
        <td><a href="javascript:SortLink('Name');">Name</a></td>
        <td><a href="javascript:SortLink('Type');">Type</a></td>
        <td>Persons</td>
        <td>&nbsp;</td>
      </tr>
    #end
    #rowstart
      <tr class="oddrow">
    #end
    #alternateRowstart
      <tr class="evenrow">
    #end   
    #cells
      <td><a href="edit.rails?id=$item.Id">$item.Name</a></td>
      <td>$!item.Type</td>
      <td>$!item.Employees.Count</td>
      <td><a href="../persons/list.rails?companyId=$item.Id">Persons</a></td>
    #end
    #empty
      <tr><td class="nodata_message" colspan="4">- no $entityNamePlural -</td></tr>
    #end
#end
