<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
    <component id="GridComponent" type="StoryVerse.WebUI.ViewComponents.GridComponent, StoryVerse.WebUI" />
    <component id="CheckboxListComponent" type="Castle.MonoRail.ViewComponents.CheckboxListComponent, Castle.MonoRail.ViewComponents" />
    <component id="ColumnChartComponent" type="Castle.MonoRail.ViewComponents.ColumnChartComponent, Castle.MonoRail.ViewComponents" />
    <component id="StoryVerseCollapsiblePanelComponent" type="StoryVerse.WebUI.ViewComponents.StoryVerseCollapsiblePanelComponent, StoryVerse.WebUI" />
    <component id="IssueNoteGroupedListComponent" type="StoryVerse.WebUI.ViewComponents.IssueNoteGroupedListComponent, StoryVerse.WebUI" />
    <component id="IssueChangeGroupedListComponent" type="StoryVerse.WebUI.ViewComponents.IssueChangeGroupedListComponent, StoryVerse.WebUI" />
  </components>
</configuration>