<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
    <component id="GridComponent" type="StoryVerse.WebUI.ViewComponents.GridComponent, StoryVerse.WebUI" />
    <component id="CheckboxListComponent" type="StoryVerse.WebUI.ViewComponents.CheckboxListComponent, StoryVerse.WebUI" />
    <component id="ChartComponent" type="StoryVerse.WebUI.ViewComponents.ChartComponent, StoryVerse.WebUI" />
  </components>
</configuration>