<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
    <component id="login.controller" type="StoryVerse.WebUI.Controllers.LoginController, StoryVerse.WebUI" />
    <component id="project.controller" type="StoryVerse.WebUI.Controllers.ProjectsController, StoryVerse.WebUI" />
    <component id="stories.controller" type="StoryVerse.WebUI.Controllers.StoriesController, StoryVerse.WebUI" />
    <component id="tasks.controller" type="StoryVerse.WebUI.Controllers.TasksController, StoryVerse.WebUI" />
    <component id="iterations.controller" type="StoryVerse.WebUI.Controllers.IterationsController, StoryVerse.WebUI" />
    <component id="persons.controller" type="StoryVerse.WebUI.Controllers.PersonsController, StoryVerse.WebUI" />
    <component id="companies.controller" type="StoryVerse.WebUI.Controllers.CompaniesController, StoryVerse.WebUI" />
  </components>
</configuration>