<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<facilities>
		<facility id="integration.facility" type="Castle.MonoRail.WindsorExtension.RailsFacility, Castle.MonoRail.WindsorExtension" />
		<facility id="transaction.management.facility" type="Castle.Facilities.AutomaticTransactionManagement.TransactionFacility, Castle.Facilities.AutomaticTransactionManagement" />
		<!-- For more information on ActiveRecord configuration -->
		<!-- visit http://www.castleproject.org/index.php/ActiveRecord:Configuration_Reference -->
		<!--<facility id="arintegration" type="Castle.Facilities.ActiveRecordIntegration.ActiveRecordFacility, Castle.Facilities.ActiveRecordIntegration" isWeb="true" isDebug="true">
      <assemblies>
        <item>StoryVerse</item>
      </assemblies>

      <config>
				<add key="hibernate.cache.use_query_cache" value="true" />
				--><!--<add key="hibernate.use_reflection_optimizer" value="true" />--><!--
				<add key="hibernate.connection.isolation" value="ReadCommitted" />
				<add key="hibernate.show_sql" value="false" />
				<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
				<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
				<add key="hibernate.connection.connection_string" value="#{connectionString}" />
			</config>
		</facility>-->
		<facility id="loggingfacility" type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" loggingApi="Log4net" configFile="logging.config" />
	</facilities>
</configuration>