<tr>
  <td colspan="4" style="white-space:nowrap; padding:3px 0px 15px 5px">
    <a href="../stories/list.rails?projectId=$entity.Id">Stories</a> |
    <a href="../tasks/list.rails?projectId=$entity.Id">Tasks</a> |
    <a href="../iterations/list.rails?projectId=$entity.Id">Iterations</a> |
    <a href="../projects/burndown.rails?id=$entity.Id">Burndown</a> |
    <a href="../issues/list.rails?projectId=$entity.Id&preset=myopen">Issues</a>
        <img src="../Images/beta.gif" style="vertical-align:middle;"/>
  </td>
</tr>
<tr>
  <td class="label">Name:</td>
  <td >$FormHelper.TextField("entity.Name", "%{onchange='markDirty()'}")</td>
  <td class="label"></td>
  <td></td>
</tr>
<tr>
  <td class="label">Company:</td>
  <td>
    $FormHelper.Select("entity.Company.Id", $entity.Company, $companies, "%{value='Id', text='Name', firstoption='-Choose-', firstoptionvalue='', onchange='markDirty()'}")
  </td>
  <td class="label"></td>
  <td></td>
</tr>
<tr>
  <td class="label">Company:</td>
  <td>
    #parse("projects/_components.vm")
  </td>
</tr>


