<tr>
  <td class="label">Name:</td>
  <td>$FormHelper.TextField("entity.Name", "%{onchange='markDirty()'}")</td>
  <td class="label">&nbsp;</td>
  <td>&nbsp;</td>
</tr>
#parse("layouts/fragments/burndown.vm")
