#blockcomponent(GridComponent with "source=$iterations") 
    #tablestart
      <table class="list">
    #end
    #header
      <tr class="header">
        <td><a href="javascript:SortLink('Name');">Name</a></td>
        <td>Stories</td>
        <td>Tasks</td>
        <td>&nbsp;</td>
      </tr>
    #end
    #rowstart
      <tr class="oddrow">
    #end
    #alternateRowstart
      <tr class="evenrow">
    #end   
    #cells
      <td><a href="edit.rails?id=$item.id">$item.Name</a></td>
      <td align="center">$item.GetStoriesCount()</td>
      <td align="center">$item.GetTasksCount()</td>
      <td align="center" style="white-space:nowrap">
        <a href="../iterations/burndown.rails?id=$item.Id">Burndown</a>
      </td>
    #end
    #empty
      <tr><td class="nodata_message" colspan="4">- no $entityNamePlural -</td></tr>
    #end
#end