<tr id="testsLabel">
<td class="labelabove" colspan="4">
  Tests:
  $FormHelper.HiddenField("testCount")
</td>
</tr>
<tr>
<td colspan="4" class="controlbelow">
  <table id="testsList" class="list" style="width:100%">
    <tr class="header">
      <td style="width:0%">#</td>
      <td style="width:100%">Test</td>
      <td>&nbsp;</td>
    </tr>
    <input type="hidden" name="deleteTest" value=""/>
    #foreach($test in $entity.Tests)
    <tr>
      <td style="width:0%">
        $test.Number
      </td>
      <td style="width:100%">
        $TextFormatHelper.AddLineBreaks($test.Body)
      </td>
	      <td>
			#if($userCanEdit && !$entityIsNew)
			    <!--<a href="javascript:deleteTest(this, '$test.Id');">Delete</a>-->
				$AjaxHelper.LinkToRemote("Delete", "deleteTest.rails", $DictHelper.CreateDict("update=tests", "with='testId=$test.Id'"))
			#end
	      </td>
    </tr>
    #end
    #if($userCanEdit && !$entityIsNew)
		<tr>
		  <td style="width:0%">&nbsp;</td>
		  <td align="center" style="width:100%">
			$FormHelper.TextArea("newTestBody", "%{rows='3', style='width:99%; font-family:Arial; font-size: 12px'}")
		  </td>
		  <td>
		  	<!-- $AjaxHelper.LinkToFunction("Add", "javascript:myproxy.addTest(document.edit.newTestBody.value, '$entity.Id');")-->
			<input type="submit" name="actionButton" class="actionButton" value="Add Test"/>
		  </td>
		</tr>
    #end 
  </table>
</td>
</tr>