#blockcomponent(GridComponent with "source=$stories") 
    #tablestart
      <table class="list">
    #end
    #header
      <tr>
        <td colspan="8" class="presets">
          <a href="list.rails?preset=all">All $entityNamePlural</a>&nbsp;
        </td>
        <td colspan="2" class="presets" style="text-align:right; whitespace:nowrap">
          $FormHelper.HiddenField("criteria.OrderBy")
          <a href="report.rails">Report</a>&nbsp;&nbsp;
          <input class="actionButton" type="button" value="Update" onClick="return search();" />
      </td>
      </tr>
      <tr class="filter">
        <td>$FormHelper.TextField("criteria.Number", "%{style='width:30px'}")</td>
        <td>$FormHelper.TextField("criteria.Term", "%{style='width:width:98%'}")</td>
        <td>
          #set($cblPriorities = $FormHelper.CreateCheckboxList("criteria.Priorities", $priorities) )
          #foreach($it in $cblPriorities)
            $cblPriorities.Item() $it <br/>
          #end
        </td>
        <td>
          #set($cblStatuses = $FormHelper.CreateCheckboxList("criteria.Statuses", $statuses) )
          #foreach($it in $cblStatuses)
            $cblStatuses.Item() $it <br/>
          #end
        </td>
        <td>
          $FormHelper.Select("criteria.IterationIds", $criteria.IterationIds, $iterations, "%{id='iterationsFilter' value='Id', text='Name', multiple='true', size='5'}")<br />
          $AjaxHelper.LinkToFunction("Clear", "return clearMultiSelect('iterationsFilter')")
        </td>
        <td>
          $FormHelper.Select("criteria.ComponentIds", $criteria.ComponentIds, $components, "%{id='componentsFilter' value='Id', text='Name', multiple='true', size='5'}")<br />
          $AjaxHelper.LinkToFunction("Clear", "return clearMultiSelect('componentsFilter')")
        </td>
        <td>
          #set($cblTechRisks = $FormHelper.CreateCheckboxList("criteria.TechRisks", $techRisks) )
          #foreach($it in $cblTechRisks)
            $cblTechRisks.Item() $it <br/>
          #end
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="header">
        <td><a href="javascript:SortLink('Number');">#</a></td>
        <td><a href="javascript:SortLink('Title');">Title</a></td>
        <td><a href="javascript:SortLink('Priority');">Priority</a></td>
        <td><a href="javascript:SortLink('Status');">Status</a></td>
        <td align="center"><a href="javascript:SortLink('Iteration');">Iteration</a></td>
        <td><a href="javascript:SortLink('Component');">Component</a></td>
        <td align="center"><a href="javascript:SortLink('TechnicalRisk');">Tech Risk</a></td>
        <td align="center">Tasks</td>
        <td align="right"><a href="javascript:SortLink('EstimateFiftyPercent');">Estimate (50%)*</a></td>
        <td align="right"><a href="javascript:SortLink('EstimateNinetyPercent');">Estimate (90%)*</a></td>
      </tr>
    #end
    #rowstart
      <tr class="oddrow">
    #end
    #alternateRowstart
      <tr class="evenrow">
    #end   
    #cells
        <td>$item.Number</td>
        <td><a href="edit.rails?id=$item.Id">$item.Title</a></td>
        <td>$!item.Priority</td>
        <td>$!item.Status</td>
        <td align="center">$!item.Iteration.Name</td>
        <td>$!item.Component.Name</td>
        <td align="center">$!item.TechnicalRisk</td>
        <td align="center">$!item.Tasks.Count</td>
        <td align="right">$!item.EstimateFiftyPercent</td>
        <td align="right">$!item.EstimateNinetyPercent</td>
    #end
    #footer
      <tr class="summary">
        <td colspan="8" style="font-weight:bold">Totals</td>
        <td align="right">$!totalEstimateFiftyPercent.ToString("n0")</td>
        <td align="right">$!totalEstimateNinetyPercent.ToString("n0")</td>
      </tr>
    #end
    #empty
      <tr><td class="nodata_message" colspan="10">- no matching $entityNamePlural -</td></tr>
    #end
#end
<br />
<div class="tip">* Percentages inidcate the probability that the estimate is NOT low</div>