<table class="list">
  <tr>
    <td colspan="7" class="presets">
      <a href="list.rails?preset=all">All $entityNamePlural</a>&nbsp;
    </td>
    <td colspan="2" class="presets" style="text-align:right; whitespace:nowrap">
      $FormHelper.HiddenField("criteria.OrderBy")
      <a href="report.rails">Report</a>&nbsp;&nbsp;<input name="actionButton" class="actionButton" type="submit" value="Update"/>
  </td>
  </tr>
  <tr class="filter">
    <td align="left">$FormHelper.TextField("criteria.Number", "%{style='width:30px'}")</td>
    <td align="left">$FormHelper.TextField("criteria.Term", "%{style='width:width:98%'}")</td>
    <td align="left">
      #set($cblPriorities = $FormHelper.CreateCheckboxList("criteria.Priorities", $priorities) )
      #foreach($it in $cblPriorities)
        $cblPriorities.Item() $it <br/>
      #end
    </td>
    <td align="left">
      #set($cblStatuses = $FormHelper.CreateCheckboxList("criteria.Statuses", $statuses) )
      #foreach($it in $cblStatuses)
        $cblStatuses.Item() $it <br/>
      #end
    </td>
    <td align="left">
      $FormHelper.Select("criteria.IterationIds", $criteria.IterationIds, $iterations, "%{value='Id', text='Name', multiple='true'}")
    </td>
    <td align="left">
      $FormHelper.Select("criteria.ComponentIds", $criteria.ComponentIds, $components, "%{value='Id', text='Name', multiple='true'}")
    </td>
    <td align="left">
      #set($cblTechRisks = $FormHelper.CreateCheckboxList("criteria.TechRisks", $techRisks) )
      #foreach($it in $cblTechRisks)
        $cblTechRisks.Item() $it <br/>
      #end
    </td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  
#foreach($entity in $stories)
  #beforeall
      <tr class="header">
        <td align="left">
          <a href="javascript:SortLink('Number');">#</a>
        </td>
        <td align="left">
          <a href="javascript:SortLink('Title');">Title</a>
        </td>
        <td align="center">
          <a href="javascript:SortLink('Priority');">Priority</a>
        </td>
        <td align="center">        
          <a href="javascript:SortLink('Status');">Status</a>
        </td>
        <td align="center">
          <a href="javascript:SortLink('Iteration');">Iteration</a>
        </td>
        <td align="center">
          <a href="javascript:SortLink('Component');">Component</a>
        </td>
        <td align="center">
          <a href="javascript:SortLink('TechnicalRisk');">Tech Risk</a>
        </td>
        <td align="center">
          Tasks
        </td>
        <td align="center">
          <a href="javascript:SortLink('Estimate');">Estimate</a>
        </td>
      </tr>
  #before
    <tr
  #odd
    class="oddrow">
  #even
    class="evenrow">
  #each
    <td align="left">$entity.Number</td>
    <td align="left">
      <a href="edit.rails?id=$entity.Id">$entity.Title</a>
    </td>
    <td align="center">$!entity.Priority</td>
    <td align="center">$!entity.Status</td>
    <td align="center">$!entity.Iteration.Name</td>
    <td align="center">$!entity.Component.Name</td>
    <td align="center">$!entity.TechnicalRisk</td>
    <td align="center">$!entity.Tasks.Count</td>
    <td align="center">$!entity.Estimate</td>
  #after
    </tr>
  #nodata
    <tr><td class="nodata_message" colspan="6">- no matching $entityNamePlural -</td></tr>
  #afterall
    <tr class="summary">
      <td colspan="8" style="font-weight:bold">Totals</td>
      <td align="center">$!totalEstimate.ToString("n0")</td>
    </tr>
#end
</table>