<activerecord isWeb="true">

  <config>
    <add key="hibernate.connection.driver_class"
      value="NHibernate.Driver.SqlClientDriver" />
    <add key="hibernate.dialect"
      value="NHibernate.Dialect.MsSql2005Dialect" />
    <add key="hibernate.connection.provider"
      value="NHibernate.Connection.DriverConnectionProvider" />
    <add key="hibernate.connection.connection_string_name"
      value="Dev"  />
  </config>

</activerecord>
