<log4net>

  <root>
    <level value="FATAL"/>
    <appender-ref ref="RollingFileAppender"/>
    <appender-ref ref="ConsoleAppender"/>
  </root>

  <logger name="AppLogger">
    <level value="INFO"/>
  </logger>

  <logger name="NHibernate" additivity="false">
    <level value="ERROR"/>
    <appender-ref ref="NHibernate"/>
    <appender-ref ref="ConsoleAppender"/>
  </logger>

  <appender name="NHibernate" type="log4net.Appender.RollingFileAppender">
    <file value="./Logs/Nhibernate.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="2" />
    <maximumFileSize value="5000KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%property{log4net:HostName}] [%thread] %-5level %class: %message%newline"  />
    </layout>
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/App.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="5000KB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%property{log4net:HostName}] [%thread] [%identity] %-5level: %message%newline%exception"/>
    </layout>
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] [%identity] %-5level - %identity: %message%newline%exception"/>
    </layout>
  </appender>
  
</log4net>